{% extends 'base.html.twig' %}
{% block body %}
	<header class="header-home">
		<img class="logo" src="{{ asset('build/images/logo.png') }}" width="60" alt="Marché Conclu"/>
		{% include "_logoTitle.html.twig" %}
		{% include '_searchbar.html.twig' %}
	</form>
</header>
<div class="space-pitch">
	<p>
		Un accélérateur de business,
		<br>
		créé par vous, pour vous.
	</p>
</div>
	<div class="carousel">
		{% for category in categories %}
			<div class="carousel-item{{ loop.index0 == 0 ? ' carousel-item-visible' : '' }}">
				<img src="{{ asset('build/images/' ~ category|lower|replace({' ': '', '-': ''}) ~ '.jpg') }}" alt="{{ category|lower }}"/>
				<a href="#">
					<div class="texte-center">
						<p>{{ category }}</p>
					</div>
				</a>
			</div>
		{% endfor %}
	<div class="carousel-actions">
		<button id="carousel-button-prev" aria-label="Previous"><</button>
		<button id="carousel-button-next"aria-label="Next">></button>
	</div>
</div>
<div>
	<h3 class="premium-title">Annonces premium</h3>
	{% for space in spaces %}
		<figure class="offer">
			<img class="image-offer" src="{{ asset('build/images/imageHome.svg') }}" alt="Marché Conclu"/>
			<figcaption class="text-offer">
				<div class="card-border card-content-up cardcontent">
					<div class="spacecategory card-content-up">{{ space.category }}
						<span class="point">·</span>
					</div>
					<div class="spacecapacity card-content-up">{{ space.capacity }}
						places
						<span class="point">·</span>
					</div>
					<div class="spacesurface card-content-up">{{ space.surface }}
						m²</div>
				</div>
				<div class="spacelocation card-content-down">{{ space.location }}</div>
				<div id="price">
					<div class="spaceprice">
						<span id="spanprice">{{ random(50, 250) }}
							€</span>
						<span id="spanpriceday">
							/ jour</span>
					</div>
					<a class="form-submit" id="buttonCardShow" href="{{ path("space_show", {id: space.id}) }}">Voir l'annonce</a>
				</div>
			</figcaption>
		</figure>
	{% endfor %}
</div>
<div class="flex-office">
	<div class="flex-titles">
		<h4 class="flex-subtitle">Découvrez</h3>
		<h2 class="flex-title">Le flex office</h2>
	</div>
	<img src="{{ asset('build/images/flexoffice.png') }}" alt="flexoffice"/>
	<h4 class="p-title">Trouvez votre bureau partout</h3>
	<p class="p-flex">Une solution pour tous vos besoins qui s’adapte en fonction de l’évolution de votre business</p>
</div>
<div class="testimony">
		<h4 class="testimony-title">Ils en parlent</h1>
		<div class="testimony-text">
			<div class="marks-image-top"><img src="{{ asset('build/images/mark1.png') }}" alt="marks"/></div>
				<p class="p-testimony">Marché Conclu a résolu mon probleme d'espace pour reloger des clients et faire face en toute sérénité aux retards sur mes chantiers.</p>
			<div class="marks-image-bottom"><img src="{{ asset('build/images/mark2.png') }}" alt="marks"/></div>
		</div>
		<div class="testimony-autor">
			<div class="autor-image-crop"><img class="florence" src="{{ asset('build/images/Florence.png') }}" alt="testimomy"/></div>
			<h3 class="autor-name">Florence Chombinho</h3>
			<p class="autor-info">49 ans, Présidente chez CITANIUM - REIMS</p>
		</div>

</div>

<div class="partner">
		<h4 class="partner-title">Nos partenaires</h1>
		<div class="partner-logos">
			<img src="{{ asset('build/images/Allianz.png') }}" alt="Alliance-logo"/>
			<img src="{{ asset('build/images/cic.png') }}" alt="cic-logo"/>
			<img src="{{ asset('build/images/axa.png') }}" alt="axa-logo"/>
		</div>
		<div class="partner-text">
			<p class="partner-info">Pour vous assurer une expériance toujours plus simple et sécurisé, nous avons travaillé avec nos partnaires a devolopper des outils pour vous accompagner avec toujours plus de flexibilité dans votre location ou gestion de vos espaces de travail.</p>
		</div>

</div>


</div>{% endblock %}
