{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="user_edit-h1">
        <h1>Editer mon profil</h1>
    </div>
    <div class="user_edit-div-form">
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.avatar) }}
        {{ form_row(registrationForm.company) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">S'enregistrer</button>
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
