<div class="space-form-container">
    {{ form_start(form) }}
        {% if not form.vars.valid %}
            {{ form_errors(form) }}
        {% endif %}
        {{ form_row(form.name) }}
        {{ form_row(form.capacity, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.category, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.surface, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.address, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.location, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.price, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.photoFile, {'attr': {'class': 'space-form-content'}}) }}
        <div class="new-space-submit">
            {{ form_row(form.enregistrer, {'attr': {'class': 'user-index-submit'}}) }}
        <div>
    {{ form_end(form) }}
</div>