<div class="space-form-container">
    {{ form_start(form) }}
        {% if not form.vars.valid %}
            {{ form_errors(form) }}
        {% endif %}
        {{ form_row(form.name) }}
        {{ form_row(form.capacity, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.category, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.description, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.surface, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.address, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.location, {'id': 'autocomplete', 'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.price, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.photoFile, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.availability, {'attr': {'class': 'flatpick-add'}}) }}
        <div class="new-space-submit">
            {{ form_row(form.enregistrer, {'attr': {'class': 'user-index-submit'}}) }}
        <div>
    {{ form_end(form) }}
</div>
 <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script>flatpickr('.flatpick-add', {
			mode: "multiple",
			dateFormat: "Y-m-d"
		})
        </script>