<div class="space-form-container">
    {{ form_start(form) }}
        {% if not form.vars.valid %}
            {{ form_errors(form) }}
        {% endif %}
        {{ form_row(form.name) }}
        {{ form_row(form.capacity, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.category, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.description, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.surface, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.address, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.location, {'id': 'autocomplete', 'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.price, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.images, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.availability, {'attr': {'class': 'flatpick-add'}}) }}
        {# vérifier si la route est "space_edit" on affiche les images #}
        {% if app.request.attributes.get('_route') == 'space_edit' %}
            <div class="show-photo">
                <h3 class="show-photo-title">Images enregistrées</h3>
                <div class="show-photo-all">
                {% for image in space.images %}
                    <div class="show-photo-onlyone">
                        <img src="{{ asset('/uploads/' ~ image.name) }}" alt="Image" width="150">
                        <a class="show-photo-link-delete" href="{{ path('image_delete', {id: image.id}) }}"
                        data-delete data-token="{{ csrf_token('delete' ~ image.id) }}
                        ">Supprimer</a>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="new-space-submit">
            {{ form_row(form.enregistrer, {'attr': {'class': 'user-index-submit'}}) }}
        <div>
    {{ form_end(form) }}
</div>
 <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script>flatpickr('.flatpick-add', {
			mode: "multiple",
			dateFormat: "Y-m-d"
		})
        </script>