{% extends 'base.html.twig' %}
{% block body %}
<header class="header-home">
  <img class="logo" src="{{ asset('build/images/logo.png') }}" width="60" alt="Marché Conclu" />
  <p class="logo-title">
    Marché
    <br>
    C O N C L U
  </p>
  {{ form_start(form) }}
  <div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
  </div>
  <div class="row">
    <div class="col">
      {{ form_widget(form.location, {'attr': {'class': 'form-search'}}) }}
    </div>
    <div class="col" id="some-custom-id">
    </div>
  </div>
  <button class="btn form-submit">
    {{ button_label|default('Chercher') }}
  </button>
  {{ form_end(form) }}
  </div>
</header>
<div class="space-pitch">
  <p>
    Un accélérateur de business,
    <br>
    créé par vous, pour vous.
  </p>
</div>
{% include "_carousel.html.twig" %}
{% endblock %}
