{% extends 'base.html.twig' %}

{% block body %}
    <header class="header-home">
            <img class="logo" src="{{ asset('build/images/logo.png') }}" width="60" alt="Marché Conclu" />
            <p class="logo-title">
                Marché
                <br>
                    C O N C L U
                </p>
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form_widget(form.location, {'attr': {'class': 'form-search'}}) }}
                </div>
                <div class="col" id="some-custom-id"></div>
            </div>
            <button class="btn form-submit">
                {{ button_label|default('Chercher') }}
            </button>
            {{ form_end(form) }}
        </div>
    </header>
    <div class="space-pitch">
        <p>
            Un accélérateur de business,
            <br>
                créé par vous, pour vous.
            </p>
        </div>
        {% if spaces %}
            {% if location %}
                <p class="space-count">
                    <span id="space-count">
                        {{ spaces|length }}
                    </span>
                    bureaux ont été trouvés à
                    {{ location }}
                </p>
            {% endif %}
            {% for space in spaces %}
            <a href=" {{ path("space_show", {id: space.id}) }}">
                <figure class="offer">
                    <img class="image-offer" src="{{ asset('build/images/imageHome.svg') }}" height="160" alt="Marché Conclu" />
                    <figcaption class="text-offer">
                        <ul class="cardcontent">
                            <li class="spacelocation">
                                {{ space.location }}
                            </li>
                            <li class="spacename">
                                {{ space.name }}
                            </li>
                            <li class="spacecategory">
                                {{ space.category }}
                            </li>
                            <li class="spacesurface">
                                {{ space.surface }}
                                m²
                            </li>
                            <li class="spacecapacity">
                                {{ space.capacity }}
                                places
                            </li>
                            <li class="spaceprice">
                                {{ random(50, 250) }}
                                €/jour
                            </li>
                        </ul>
                    </figcaption>
                </figure>
            </a>
            {% endfor %}
        {% else %}
            <p>
                Aucun bureau n'a été trouvé à {{ location }}.
            </p>
        {% endif %}
    {% endblock %}
    