{% extends 'base.html.twig' %}

{% block title %}Space index{% endblock %}

{% block body %}
    <h1>Space index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Photos</th>
                <th>Surface</th>
                <th>Category</th>
                <th>Capacity</th>
                <th>Location</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for space in spaces %}
            <tr>
                <td>{{ space.id }}</td>
                <td>{{ space.name }}</td>
                <td>{{ space.photos }}</td>
                <td>{{ space.surface }}</td>
                <td>{{ space.category }}</td>
                <td>{{ space.capacity }}</td>
                <td>{{ space.location }}</td>
                <td>
                    <a href="{{ path('space_show', {'id': space.id}) }}">show</a>
                    <a href="{{ path('space_edit', {'id': space.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('space_new') }}">Create new</a>
{% endblock %}
