{% extends 'base.html.twig' %}
{% block title %}Trouvez votre espace de travail
{% endblock %}
{% block body %}
	<div class="search">
		<div class="title">
			{% include "_logoTitle.html.twig" %}
		</div>
		<h1 class="create-new-space">Que recherchez-vous ?</h1>
		<div class="searchbar-and-filter">
			<div class="search-container">
				<form action="{{ path('space_search') }}" method="get" class="form-search">
					<input class="search-bar" type="text" id="autocomplete" placeholder="Dans quelle ville ?" name="location" value="{{ location ?? '' }}">
					<button class="btn form-submit">
						Chercher
					</button>
					<script type="text/javascript" src="{{ api }}"></script>
					<span class="returnButton" id="myModalBtn">{% include "space/_filter_button.html.twig" %}</span>
					<div
						id="myModal" class="modal">
						<!-- Modal content -->
						<div class="modal-content">
							<div>
								<label for="start">Dates d'entrées</label>
								<input type="date" id="start" name="date" placeholder="m²" value="2022-01-15" min="2021-01-05" max="2024-12-31">
							</div>
							<p>Types d'espaces</p>
							<div class="space-filter">

								<input type="checkbox" name="reunion" id="reunion" class="hidden-checkbox" hidden>
								<label for="reunion">Salle de réunion</label>

								<input type="checkbox" name="private" id="private" class="hidden-checkbox" hidden>
								<label for="private">Bureau privé</label>

								<input type="checkbox" name="open-space" id="open-space" class="hidden-checkbox" hidden>
								<label for="open-space">Open space</label>

								<input type="checkbox" name="co-working" id="co-working" class="hidden-checkbox" hidden>
								<label for="co-working">Co-working</label>

								<input type="checkbox" name="storage" id="storage" class="hidden-checkbox" hidden>
								<label for="storage">Espace de stockage</label>

								<input type="checkbox" name="plate" id="plate" class="hidden-checkbox" hidden>
								<label for="plate">Plateaux vides</label>
							</div>
							<div class="filter-range">
								<label for="job">Profession recherchée</label>
								<select name="job" type="text">
								<option value="">Selectionner une profession</option>
								{% for job in jobs %}}
								<option value="{{ job }}"> {{ job }} </option>
								{% endfor %}
								</select>
								<label for="maxprice">Prix maximum</label>
								<input type="number" name="maxprice" min="0" placeholder="450€" max="1000"/>
							</div>
							<div>
								<label for="minsurface">Surface minimum</label>
								<input type="number" name="minsurface" min="0" placeholder="50 m²" max="1000"/>
								<label for="max">Capacité d'accueil minimum</label>
								<input type="number" name="capacity" min="0" placeholder="500 postes" max="1000"/>
							</div>
							<button style="margin-top:1rem; margin-bottom: 1rem;"class="add-new-space" type="submit">
								Chercher
							</button>
							<span class='closeSearch' onclick='closeModal()'>&times;</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div>
		{% if spaces %}
			<h2 class="spaces-length">{{ spaces|length }} espace(s) trouvé(s) {% if location %} à {{ location }}{% endif %}</h2>
			{% for space in spaces %}
				<div>
					<figure class="offer">
						{% if space.images|length > 0 %}
							<img class="image-offer" src="{{ asset('/uploads/' ~ space.images[0].name) }}" alt="Photo de l'espace"/>
            			{% else %}
                			<img class="image-offer" src="{{ asset('build/images/space_image.jpg') }}">
		    			{% endif %}
						<figcaption class="text-offer">
							<div class="text-offer-name">{{ space.name|upper }}</div>
							<div class="card-border card-content-up cardcontent">
								<div class="spacecategory card-content-up">{{ space.category|capitalize }}
								</div>
								<div class="spacecapacity card-content-up">{{ space.capacity }} places
								</div>
								<div class="spacesurface card-content-up">{{ space.surface }} m²</div>
							</div>
							<div class="spacelocation card-content-down">{{ space.location }}</div>
							{% if options.job is defined %}
								{% if space.owner.job %}
							<div class="spacelocation card-content-down">{{ space.owner.job }}</div>
						{% endif %}
							{% endif %}
							<div id="price">
								<div class="spaceprice">
									<span id="spanprice">{{ space.price }}€</span><span id="spanpriceday">/jour</span>
								</div>
								<a class="show-space-link" id="buttonCardShow" href="{{ path("space_show", {id: space.id}) }}">Voir l'annonce</a>
							</div>
						</figcaption>
					</figure>
				{% endfor %}
			</div>
		{% elseif location %}
			<h2 class="spaces-length">Aucun espace trouvé à
				{{ location }}</h2>
		{% else %}
		<h2 class="spaces-length"> Aucun espace trouvé </h2>
		{% endif %}
	</div>
<script type="text/javascript" src="{{ api }}"></script>
	<script>
		function initialize() {
			const options = {
				types: ['(cities)'],
				componentRestrictions: {
				country: 'fr',
			},
			};
			const { google } = window;
			const input = document.getElementById('autocomplete');
			const autocomplete = new google.maps.places.Autocomplete(input, options);
	}

	initialize();
	</script>
	<script>
		// Get the modal
const modal = document.getElementById("myModal");
// Get the button that opens the modal
const btn = document.getElementById("myModalBtn");
// Get the button closeSearch element that closes the modal
const closeSearch = document.getElementsByClassName("closeSearch")[0];
// When the user clicks the button, open the modal
btn.onclick = function () {
modal.style.display = "block";
}
// When the user clicks on rechercher(x), close the modal
closeSearch.onclick = function () {
modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
if (event.target == modal) {
modal.style.display = "none";
}
}
	</script>
{% endblock %}
