{% extends 'base.html.twig' %}
{% block title %}Trouvez votre espace de travail
{% endblock %}
{% block body %}
	<div class="search">
		<div class="title">
			{% include "_logoTitle.html.twig" %}
		</div>
		<h1 class="create-new-space">Que recherchez-vous ?</h1>
		<div class="searchbar-and-filter">
			<div class="search-container">
				<form action="{{ path('space_search') }}" method="get" class="form-search">
					<input class="search-bar" type="text" id="autocomplete" placeholder="Où souhaitez-vous louer ?" name="location" value="{{ location ?? '' }}">
					<button class="btn form-submit">
						Chercher
					</button>
					<script type="text/javascript" src="{{ api }}"></script>
					<span class="returnButton" id="myModalBtn">{% include "space/_filter_button.html.twig" %}</span>
					<div
						id="myModal" class="modal">
						<!-- Modal content -->
						<div class="modal-content">
							<div>
								<label for="start">Dates d'entrées</label>
								<input type="date" id="start" name="date" placeholder="m²" value="2022-01-15" min="2021-01-05" max="2024-12-31">
							</div>
							<p>Types d'espaces</p>
							<div class="space-filter">

								<input type="checkbox" name="meeting" id="meeting" class="hidden-checkbox" hidden>
								<label for="meeting">Salle de réunion</label>

								<input type="checkbox" name="private" id="private" class="hidden-checkbox" hidden>
								<label for="private">Bureau privé</label>

								<input type="checkbox" name="open-space" id="open-space" class="hidden-checkbox" hidden>
								<label for="open-space">Open space</label>

								<input type="checkbox" name="co-working" id="co-working" class="hidden-checkbox" hidden>
								<label for="co-working">Co-working</label>

								<input type="checkbox" name="storage" id="storage" class="hidden-checkbox" hidden>
								<label for="storage">Espace de stockage</label>

								<input type="checkbox" name="plate" id="plate" class="hidden-checkbox" hidden>
								<label for="plateau">Plateaux vides</label>
							</div>
							<div class="filter-range">
								<label for="range">Prix maximum</label>
								<input type="range" id="range" min="10" max="1500" step="10" oninput="this.form.maxprice.value=this.value">
								<input type="number" name="maxprice" min="0" max="1500" value="0" oninput="this.form.priceRange.value=this.value"/>
							</div>
							<div>
								<label for="range">Surface minimum</label>
								<input type="range" id="range" min="5" max="1000" step="10" oninput="this.form.minsurface.value=this.value">
								<input type="number" name="minsurface" min="0" max="1000" value="0" oninput="this.form.amountRange.value=this.value"/>
							</div>
							<button style="margin-top:1rem; margin-bottom: 1rem;"class="add-new-space" type="submit">
								Chercher
							</button>
							<span class='closeSearch' onclick='closeModal()'>&times;</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div>
		{% if spaces %}
			<h2 class="spaces-length">{{ spaces|length }} espace(s) trouvé(s) {% if location %} à {{ location }}{% endif %}</h2>
			{% for space in spaces %}
				<div>
					<figure class="offer">
						{# {% if app.space.photos %}
								<img class="image-offer" src="{{ vich_uploader_asset(space) }}" alt="Photo de l'espace"/>
							{% else %} #}
								<img class="image-offer" src="{{ asset('build/images/coworking.jpeg') }}">
						{# {% endif %} #}
						<figcaption class="text-offer">
							<div class="card-border card-content-up cardcontent">
								<div class="spacecategory card-content-up">{{ space.category|capitalize }}
									<span class="point">·</span>
								</div>
								<div class="spacecapacity card-content-up">{{ space.capacity }} places
									<span class="point">·</span>
								</div>
								<div class="spacesurface card-content-up">{{ space.surface }} m²</div>
							</div>
							<div class="spacelocation card-content-down">{{ space.location }}</div>
							<div id="price">
								<div class="spaceprice">
									<span id="spanprice">{{ random(50, 250) }} €</span>
									<span id="spanpriceday"> / jour</span>
								</div>
								<a class="show-space-link" id="buttonCardShow" href="{{ path("space_show", {id: space.id}) }}">Voir l'annonce</a>
							</div>
						</figcaption>
					</figure>
				{% endfor %}
			</div>
		{% elseif location %}
			<p>Aucun espace trouvé à
				{{ location }}</p>
		{% else %}
		<p> Aucun espace trouvé </p>
		{% endif %}
	</div>

	<script>
		// Get the modal
const modal = document.getElementById("myModal");
// Get the button that opens the modal
const btn = document.getElementById("myModalBtn");
// Get the button closeSearch element that closes the modal
const closeSearch = document.getElementsByClassName("closeSearch")[0];
// When the user clicks the button, open the modal
btn.onclick = function () {
modal.style.display = "block";
}
// When the user clicks on rechercher(x), close the modal
closeSearch.onclick = function () {
modal.style.display = "none";
}
// When the user clicks anywhere outside of the modal, close it
window.onclick = function (event) {
if (event.target == modal) {
modal.style.display = "none";
}
}
	</script>
{% endblock %}
