{% extends 'base.html.twig' %}
{% block title %}Trouvez votre espace de travail
{% endblock %}
{% block body %}
	<div class="search">
		<div class="title">
			{% include "_logoTitle.html.twig" %}
		</div>
		<p>Que recherchez - vous ?</p>
		<div class="searchbar-and-filter">
			<div class="search-container">
				{% include '_searchbar.html.twig' %}
			</div>
			{% include 'space/_filters.html.twig' %}
		</div>
	</div>

	{% if spaces %}
		<p class="spaces-title">
			{{ spaces|length }}
			{% if spaces|length > 1 %}
				espaces disponibles
			{% else %}
				espace disponible
			{% endif %}
			{% if location %}
				à
				{{ location }}
			{% endif %}
		</p>
		{% for space in spaces %}
			<figure class="offer">
				<img class="image-offer" src="{{ vich_uploader_asset(space) }}" alt="Marché Conclu"/>
				<figcaption class="text-offer">
					<div class="card-border card-content-up cardcontent">
						<div class="spacecategory card-content-up">{{ space.category }}
							<span class="point">·</span>
						</div>
						<div class="spacecapacity card-content-up">{{ space.capacity }}
							places
							<span class="point">·</span>
						</div>
						<div class="spacesurface card-content-up">{{ space.surface }}
							m²</div>
					</div>
					<div class="spacelocation card-content-down">{{ space.location }}</div>
					<div id="price">
						<div class="spaceprice">
							<span id="spanprice">{{ random(50, 250) }}
								€</span>
							<span id="spanpriceday">
								/ jour</span>
						</div>
						<a class="form-submit" id="buttonCardShow" href="{{ path("space_show", {id: space.id}) }}">Voir
																																																																																																																																																																																																																																																																																																																																																										l'annonce</a>
					</div>
				</figcaption>
			</figure>
		{% endfor %}
	</div>
{% elseif location %}
	<p>
		Aucun espace trouvé à
		{{ location }}
	</p>
{% endif %}{% endblock %}
