{% extends 'base.html.twig' %}

{% block title %}Space
{% endblock %}

{% block body %}
<div class="carousel">
	{% if space.images|length > 0 %}
		{% for image in space.images %}
			{% if loop.index == 1 %}
				<div class="carousel-item-mc carousel-item-visible">
						<img src="{{ asset('/uploads/' ~ image.name) }}" alt="Image"/>
				</div>
			{% else %}
				<div class="carousel-item-mc">
					<img src="{{ asset('/uploads/' ~ image.name) }}" alt="Image"/>
				</div>
			{% endif %}
		{% endfor %}
		{% if space.images|length > 1 %}
		<div class="carousel-actions">
			<button id="carousel-button-prev" aria-label="Previous"><</button>
			<button id="carousel-button-next" aria-label="Next">></button>
		</div>
		{% endif %}
	{% else %}
		<div class="carousel-item-mc carousel-item-visible">
			<img src="{{ asset('build/images/space_image.jpg') }}" alt="Image"/>
		</div>
	{% endif %}
</div>
<div class="show-space-head">
	<div class="show-space-head-left">
		<h1 class="show-space-name">{{ space.name|upper }}</h1>
		<h3 class="show-space-location">{{ space.address|title }}, {{ space.location|title }}</h3>
		<div class="show-space-btn-locate">
			<a class="show-space-link-locate" href="https://www.google.fr/maps/place/ {{ space.address }} {{ space.location }}" target="_blank">Localiser</a>
		</div>
	</div>
	<div class="show-space-head-right">
		<div class="show-space-btn-edit">
			{% if app.user == space.owner %}
				<a class="show-space-link-edit" href="{{ path('space_edit', {'id': space.id}) }}">Modifier</a>
			{% endif %}
		</div>
		<h2 class="show-space-price">{{ space.price }}€/<span>j</span></h1>
	</div>
</div>
<ul class="show-space-details-list">
		<li>{{ space.category|capitalize }}</li>
		<li>{{ space.surface }}m²</li>
		<li>{{ space.capacity }} postes</li>
</ul>
{% if space.description %}
	<div class="show-space-description">
		<div class="marks-image-top"><img src="{{ asset('build/images/mark1.png') }}" alt="marks"/></div>
		<p class="show-space-description-text">{{ space.description }}</p>
		<div class="marks-image-bottom"><img src="{{ asset('build/images/mark2.png') }}" alt="marks"/></div>
	</div>
{% endif %}
<div class="show-space-availability">
	<div class="show-space-availability-week">
	<div class="show-space-day">
	{% if space.spacedisponibility.monday %}
		<div class="day-letter">L</div>
		<div class="day-hours">{{ space.spacedisponibility.monday }}</div>
	{% else %}
		<div class="day-letter-disabled">L</div>
	{% endif %}
		</div>
		<div class="show-space-day">
		{% if space.spacedisponibility.thursday %}
			<div class="day-letter">M</div>
			<div class="day-hours">{{ space.spacedisponibility.thursday }}</div>
		{% else %}
			<div class="day-letter-disabled">M</div>
		{% endif %}
			</div>
			<div class="show-space-day">
			{% if space.spacedisponibility.wednesday %}
				<div class="day-letter">M</div>
				<div class="day-hours">{{ space.spacedisponibility.wednesday }}</div>
			{% else %}
				<div class="day-letter-disabled">M</div>
			{% endif %}
				</div>
				<div class="show-space-day">
		{% if space.spacedisponibility.tuesday %}
			<div class="day-letter">J</div>
			<div class="day-hours">{{ space.spacedisponibility.tuesday }}</div>
		{% else %}
			<div class="day-letter-disabled">J</div>
		{% endif %}
			</div>
			<div class="show-space-day">
		{% if space.spacedisponibility.friday %}
			<div class="day-letter">V</div>
			<div class="day-hours">{{ space.spacedisponibility.friday }}</div>
		{% else %}
			<div class="day-letter-disabled">V</div>
		{% endif %}
			</div>
			<div class="show-space-day">
			{% if space.spacedisponibility.saturday %}
				<div class="day-letter">S</div>
				<div class="day-hours">{{ space.spacedisponibility.saturday }}</div>
			{% else %}
				<div class="day-letter-disabled">S</div>
			{% endif %}
				</div>
				<div class="show-space-day">
				{% if space.spacedisponibility.sunday %}
					<div class="day-letter">D</div>
					<div class="day-hours">{{ space.spacedisponibility.sunday }}</div>
				{% else %}
					<div class="day-letter-disabled">D</div>
				{% endif %}
					</div>
	</div>
</div>
<div class="show-space-owner">
	<ul class="show-space-owner-details">
		<li>{{ space.owner.firstname }} {{ space.owner.lastname }}</li>
		<li>{{ space.owner.job }}</li>
		<li>{{ space.owner.company }}</li>
	</ul>
	{% if app.user and app.user != space.owner %}
		<ul class="show-space-owner-contact">
			<a href="{{ path("send", {slug: space.owner.slug}) }}" class="btn btn-secondary">Contacter</a>
		</ul>
	{% endif %}
</div>
{% if app.user and app.user != space.owner %}
	<div class="show-space-reservation">
		<button class="show-space-reservation-btn" id="reservation-btn" type="submit">Choisir une date de réservation</button>
	</div>
	<div class="show-reservation" id="show-reservation-modal">
		<div class="show-reservation-modal-content">
			<div class="show-reservation-text">
				<label class="reservation-choose-date" for="date">Choisir une date de réservation :</label>
				<span class='show-reservation-modal-close' onclick='closeModal()'>&times;</span>
			</div>
			{% include "slot/_form.html.twig" %}
		</div>
	</div>
	<script>
		const modal = document.getElementById("show-reservation-modal");
		const btn = document.getElementById("reservation-btn");
		const closeSearch = document.getElementsByClassName("show-reservation-modal-close")[0];
		btn.onclick = function () {
			modal.style.display = "block";
		}
		closeSearch.onclick = function () {
			modal.style.display = "none";
		}
		window.onclick = function (event) {
			if (event.target == modal) {
			modal.style.display = "none";
			}
		}
	</script>
{% endif %}
		<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
		<script>
		flatpickr('.flatpick-reserve', {
		mode: "multiple",
		enable: [
			{% for slot in availability %}
			"{{ slot }}",
			{% endfor %}
		]
		}
		)
		</script>
{% endblock %}
