{% extends 'base.html.twig' %}

{% block title %}Space
{% endblock %}

{% block body %}
<div class="carousel">
            <div class="carousel-item-mc carousel-item-visible">
                <img src="{{ asset('build/images/' ~ space.photos) }}"
                    alt="bureau privee" />
            </div>
            <div class="carousel-item-mc">
                <img src="{{ asset('build/images/coworking.jpg') }}"
                    alt="co-working" />
            </div>
            <div class="carousel-item-mc">
                <img src="{{ asset('build/images/salledereunion.jpg') }}"
                    alt="salle de reunion" />
            </div>
            <div class="carousel-item-mc">
                <img src="{{ asset('build/images/openspace.jpg') }}"
                    alt="open space" />
            </div>
            <div class="carousel-item-mc">
                <img src="{{ asset('build/images/espacedestockage.jpg') }}"
                    alt="espace de stockage" />
            </div>
            <div class="carousel-actions">
                <button id="carousel-button-prev" aria-label="Previous"><</button>
                <button id="carousel-button-next" aria-label="Next">></button>
            </div>
</div>
<div class="show-space-head">
	<div class="show-space-head-left">
		<h1 class="show-space-name">{{ space.name|upper }}</h1>
		<h3 class="show-space-location">6 Rue de Saint-Brice, 51100 Reims</h3>
		<div class="show-space-btn-locate">
			<a class="show-space-link-locate" href="https://www.google.fr/maps/place/" ~ {{ space.location }} target="_blank">Localiser</a>
		</div>
	</div>
	<div class="show-space-head-right">
		<div class="show-space-btn-edit">
			<a class="show-space-link-edit" href="{{ path('space_edit', {'id': space.id}) }}">Éditer</a>
		</div>
		<h2 class="show-space-price">59€/<span>j</span></h1>
	</div>
</div>
<ul class="show-space-details-list">
		<li>{{ space.category }}</li>
		<li>{{ space.surface }}m²</li>
		<li>{{ space.capacity }} postes</li>
</ul>
<div class="show-space-description">
	<div class="marks-image-top"><img src="{{ asset('build/images/mark1.png') }}" alt="marks"/></div>
	<p class="show-space-description-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
	<div class="marks-image-bottom"><img src="{{ asset('build/images/mark1.png') }}" alt="marks"/></div>
</div>
<div class="show-space-availability">
	<ul class="show-space-availability-list">
		<li class="monday">L</li>
		<li class="tuesday">M</li>
		<li class="wednesday">M</li>
		<li class="thursday">J</li>
		<li class="friday">V</li>
		<li class="saturday">S</li>
		<li class="sunday">D</li>
	</ul>
	<ul class="show-space-availability-hours-list">
		<li class="monday">09h-18h</li>
		<li class="tuesday">09h-18h</li>
		<li class="wednesday">09h-18h</li>
		<li class="thursday">09h-18h</li>
		<li class="friday">09h-18h</li>
		<li class="saturday">09h-18h</li>
		<li class="sunday">09h-18h</li>
	</ul>
</div>
{# 
	<h1 class="show-title">Accueil /
		{{ space.location }}
		/
		{{ space.category }}
	</h1>
	<figure>
		<img class="show-image-offer" src="{{ asset('build/images/' ~ space.photos) }}" alt="Marché Conclu"/>
		<figcaption class="text-offer">
			<ul class="show-cardcontent">
				<li class="spacename">
					{{ space.name }}
				</li>
				<li class="spacecategory">
					{{ space.category }}
				</li>
				<li class="spacelocation">
					6 avenue de Champagne,
					{{ space.location }}, 51200
				</li>
				<li class="spacesurface">
					{{ space.surface }}
					m² -
					{{ space.capacity }}
					postes de travail
				</li>
				<li class="show-spaceprice">
					<span style="font-weight: bolder; font-size: 1rem">{{ random(50, 250) }}
						€
					</span>/jour
				</li>
			</ul>
		</figcaption>
	</figure>
	{{ include('slot/_form.html.twig') }}<div class="mapouter">
		<div class="gmap_canvas">
			<iframe width="350" height="150" id="gmap_canvas" src="https://maps.google.com/maps?q={{ space.location }}&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
		</div>
	</div>
	<div class="form-container">
		<div class="div-btn">
			<a class="space-form-submit" href="{{ path('space_index') }}">Retourner sur la liste des espaces</a>
		</div>
		<div class="div-btn">
			<a class="form-submit" href="{{ path('space_edit', {'id': space.id}) }}">Modifier votre annonce</a>
		</div>
	</div>
	{{ include('space/_delete_form.html.twig') }} #}
{% endblock %}
