<div class="user-edit-div-form">
    {{ form_start(form) }}
        {% if not form.vars.valid %}
            {{ form_errors(form) }}
        {% endif %}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.plainPassword) }}
        {{ form_row(form.company) }}
        {{ form_row(form.phone_number) }}
        {{ form_row(form.job) }}
        {{ form_row(form.photoFile, {'attr': {'class': 'space-form-content'}}) }}
        {{ form_row(form.enregistrer, {'attr': {'class': 'user-index-submit registerButton', 'margin': 'auto'}}) }}
    {{ form_end(form) }}
</div>