{% extends 'base.html.twig' %}

{% block body %}
    <div class="user-index-h1">
        <h1>Mes informations</h1>
    </div>
    <div class="show-user-disconnect">
         <a class="user-index-submit" href="{{ path('app_logout') }}">Deconnexion</a>
    </div>
    <div class="user-index-container">
        <div class="show-user-main-datas">
            <div class="show-user-photo">
                {% if app.user.photo %}
                    <img class="user-index-avatar" src="{{ vich_uploader_asset(app.user) }}" alt="photo de l'utilisateur"/>
                {% else %}
                    <img class="user-index-avatar" src="{{ asset('build/images/logoMarcheConcluXL.png') }}">
                {% endif %}
            </div>
            <div class="show-user-fullname">
                <h2>{{ app.user.lastname }}</h2>
                <h2>{{ app.user.firstname }}</h2>
            </div>
        </div>
        <div class="show-user-secondary-datas">
            <div class="show-user-contacts"
                {% if app.user.phoneNumber %}
                    <p>{{ "☎️ " ~ app.user.phoneNumber }}</p>
                {% endif %}
                <p>{{ "✉️ " ~ app.user.email }}</p>
            </div>
            <div class="show-user-job">
                {% if app.user.job %}
                    <p>{{ "⚙️ " ~ app.user.job }}</p>
                {% endif %}
                {% if app.user.company %}
                    <p>{{ "🏢 " ~ app.user.company }}</p>
                {% endif %}
            </div>
        </div>
        <div class="show-user-modify">
            <a class="show-user-modify-btn" href="{{ path('user_edit', {'id': app.user.id}) }}">Modifier mon profil</a>
        </div>
        <div class="show-user-message">
            <a class="show-user-modify-btn" href="{{ path('messages') }}">Messagerie</a>
        </div>
        {% if app.user.spaces is not empty %}
        <div class="user-index-location">
                <h3>Mes annonces</h3>
            <ul class="user-index-location-ul">
            {% for space in app.user.spaces %}
                <li class="user-index-location-li">
                <div class="user-spaces">
                    <p><strong>{{ "Nom de l'annonce :" ~ " " ~ space.name }}</strong></p>
                    <div class="show-user-annonce-btns">
                        <a class="user-index-submit" href="{{ path("space_show", {id: space.id}) }}">Consulter</a>
                        <a class="user-index-submit" href="{{ path("space_edit", {id: space.id}) }}">Modifier</a>
                    </div>
                    {% if space.slots is not empty %}
                    <div class="show-user-annonce-reserved">
                        <table>
                            <thead>
                                <tr>
                                    <th>Locataire</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for slot in space.slots|sort((a, b) => a.slotTime <=> b.slotTime) %}
                                <tr>
                                    <td><a class="show-user-annonce-reserved-link" href="{{ path('user_show', {slug: slot.owner.slug}) }}">{{ slot.owner.firstname }} {{ slot.owner.lastname }}</a></td>
                                    <td>{{ slot.slotTime }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        {% if app.user.slots is not empty %}
        </div>
            <div class="show-user-annonce-slots-content">
            <h3>Mes resérvations  :</h3>
            <div class="show-user-annonce-slots">
                <div class="show-user-annonce-slots-table">
                <table>
                    <thead>
                        <tr>
                            <th>Espace</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for slot in app.user.slots %}
                        <tr>
                            <td><a class="show-user-annonce-slots-link" href="{{ path("space_show", {id: slot.space.id}) }}">{{ slot.space.name }}</a></td>
                            <td>{{ slot.slotTime }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                <div class="show-user-annonce-slots-cancel">
                {% for slot in app.user.slots %}
                    <form method="post" action="{{ path('slot_delete', {'id': slot.id, 'space': slot.space.id}) }}" onsubmit="return confirm('Vous vous vraiment annuler cette location?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ slot.id) }}">
                        <button class="user-index-submit">Annuler</button>
                    </form>
                {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        </div>
{% endblock %}
