{% extends 'base.html.twig' %}

{% block body %}
    <div class="user-index-h1">
        <h1>Mes informations</h1>
    </div>
    {% if app.user %}
    <div class="show-user-disconnect">
         <a class="user-index-submit" href="{{ path('app_logout') }}">Deconnexion</a>
    </div>
    <div class="user-index-container">
        <div class="show-user-main-datas">
            <div class="show-user-photo">
                {% if app.user.photo %}
                    <img class="user-index-avatar" src="{{ vich_uploader_asset(app.user) }}" alt="photo de l'utilisateur"/>
                {% else %}
                    <img class="user-index-avatar" src="{{ asset('build/images/logoMarcheConcluXL.png') }}">
                {% endif %}
            </div>
            <div class="show-user-fullname">
                <h2>{{ app.user.lastname }}</h2>
                <h2>{{ app.user.firstname }}</h2>
            </div>
        </div>
        <div class="show-user-secondary-datas">
            <div class="show-user-contacts"
                {% if app.user.phoneNumber %}
                    <p>{{ "☎️ " ~ app.user.phoneNumber }}</p>
                {% endif %}
                <p>{{ "✉️ " ~ app.user.email }}</p>
            </div>
            <div class="show-user-job">
                {% if app.user.job %}
                    <p>{{ "⚙️ " ~ app.user.job }}</p>
                {% endif %}
                {% if app.user.company %}
                    <p>{{ "🏢 " ~ app.user.company }}</p>
                {% endif %}
            </div>
        </div>
        <div class="show-user-modify">
            <a class="show-user-modify-btn" href="{{ path('user_edit', {'id': app.user.id}) }}">Modifier mon profil</a>
        </div>
        {% if app.user.spaces is not empty %}
        <div class="user-index-location">
                <h3>Mes annonces</h3>

            <ul class="user-index-location-ul">
            {% for space in app.user.spaces %}
                <li class="user-index-location-li">
                <div class="user-spaces">
                    <p>{{ "Nom de l'annonce :" ~ " " ~ space.name }}</p>
                    <div class="show-user-annonce-btns">
                        <a class="user-index-submit" href="{{ path("space_show", {id: space.id}) }}">Voir l'annonce</a>
                        <a class="user-index-submit" href="{{ path("space_edit", {id: space.id}) }}">Modifier l'annonce</a>
                    </div>
                </div>
                </li>
            {% endfor %}
        <h3>Mes resérvations  :</h3>
            {% for slot in app.user.slots %}
        <p>{{ slot.space.name }}</p>
        <p>Jour de la réservation : {{ slot.slottime }}</p>
            <div class="show-user-annonce-btns">
        <a class="user-index-submit" href="{{ path("slot_delete", {id: slot.id}) }}">Annuler la réservation</a>
    </div>
        {% endfor %}
            </ul>
        {% endif %}
        </div>
    {% endif %}
{% endblock %}
