{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="user-index-h1">
        <h1>Page utilisateur</h1>
    </div>
    <div class="user-index-container">
        <div class="show-user-main-datas">
            <div class="show-user-photo">
                {% if user.photo %}
                    <img class="user-index-avatar" src="{{ vich_uploader_asset(app.user) }}">
                {% else %}
                    <img class="user-index-avatar" src="{{ asset('build/images/logoMarcheConcluXL.png') }}">
                {% endif %}
            </div>
            <div class="show-user-fullname">
                <h2>{{ user.lastname }}</h2>
                <h2>{{ user.firstname }}</h2>
            </div>
        </div>
        <div class="show-user-secondary-datas">
            <div class="show-user-contacts"
        <div class="show-user-annonce-btns">
                <a class="user-index-submit text-center" href="{{ path("send", {slug: user.slug}) }}">📧 Envoyer un message </a>
        </div>
{% endblock %}
